<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Static Website</title>
</head>

<body>
    <h1>This is My website</h1>
  <form>
    <input type="text" name="firstname">
    <input type="lastname" name="lastname">
    <input type="message" name="message">
    <button type="button" >Submit</button>
   </form>
</body>
</html>